body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.cuadro {
    border: 2px solid #333;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.cuadro p {
    margin: 0;
    font-size: 1.2em;
    text-align: center;
    color: #333;
}
